/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
   
}
img{
    max-width: 100%;

}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}

.flex{
    display: flex;
}
.container-big{
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;

}
.container-small{
    width: 60%;
    margin: 0 auto;
    max-width: 1000px;
   
}
h2{
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: 600;
}
.card h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
h4{
    font-weight: 800;

}

.button{
    color: white;
    padding: 0.5em 1.5em;
    background-color:#0061ff;
    
}

.button.large{
    display: inline-block;
    margin: 2rem 0;
}
.arrow{
   margin-top: 8rem;
    
}
/* HEADER */
.header-nav{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0 1rem;
    line-height: 60px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    
    /* DEBUG */
    background-color:white ;

}
.nav-left li:not(:first-child){
    margin-left: 1.5rem;
}
.nav-right li:not(:last-child){
    margin-right: 2rem;
}
.nav-left ul{
    align-items: center;
}
.logo-header{
    transform:scale(0.8);
    vertical-align: middle;
}

.jumbotron{
    padding-top: 3rem;
    background-color: #b4d0e7;
   
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
    

header .container-big{
   padding-top:50px;
  
    
}
.jumbotron-row{
    gap: 1rem;
    position: relative;
    top:3rem;
}
.col-small{
    width: 30%;
    text-align: left;
 
}
.col-big{
    width:70%
  
}


/* MAIN */
.business-plan input {
    vertical-align: middle;
    margin-right: 1rem;
}
.one{
    margin-top: 5rem;
}
.section-row1{
    gap:2rem;
    margin: 2rem 0;
}
.section-row1 .col{
    width: calc(100% / 3);
    border: 1px solid lightgray;
 
}

.card-top{padding: 1em;
    text-align: center;
}
.customer-type1::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";
    margin-right: 3px;
}
.customer-type2::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\e533";
    margin-right: 3px;

}
.customer-type3::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f1ad";
    margin-right: 3px;
}

.card-middle{
    padding: 2em;
}

.card-middle .type::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";
    margin-right: 3px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
  

}

.card-middle .memory::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f07b";
    margin-right: 3px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
   
}
.card-middle .function::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f387";
    margin-right: 3px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
    
}
.check li::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    margin-right: 3px; 
    color: blue;
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
}
.check li, .description li{
    position: relative;
    padding-left: 1rem;
}

.card-middle .button{
    padding: .5em 2.5em;
    display: inline-block;
    margin: 2rem 0;
    width: 100%;
    text-align: center;
}
.card-middle li{
    margin: 1rem 0;
}
.card-middle hr{
    width: 20%;
    margin: 3rem 0;
}
.card-middle .month{
    margin-top: .5rem;
    margin-bottom: 2rem;
}
.underline{
    text-decoration: underline;
    color:#0061ff;
}
.section-row2{
    border: 1px solid lightgrey;
   
    
}
.cta{
    justify-content: space-between;
    gap: 6rem;
}
.cta .col-small{
    text-align: right;
}
.section-row2 h3{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.section-row2 .button {
    padding: .5em 2.5em;
    margin-top: 1.2px;
    display: inline-block;
    width: 100%;
    text-align: center;
    
}
.cta p{
    margin-top: 2rem;
   
}

.cta{
    padding: 1.5rem 1.5rem;
}
.section-row3{
    margin-top: 6rem;
    margin-bottom: 6rem;
    gap: 2rem;
}
.section-row3 h3{font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;


}
.section-row3 .button{
    display: inline-block;
    margin-top: 1rem;
    background-color: white;
    border: 1px solid black;
    color:rgb(60, 59, 59);
}
.section-row3 .col-small{
    padding-top: 3rem;
}
.section2-row1, .section2-row2{
    gap: 1.5rem;

}
.section2-row1 .col, .section2-row2 .col{
    width: calc(100% / 3);
    margin-bottom: 1.5rem;
   
}
.section2-row1 h3,.section2-row2 h3{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.section2-row2 {
    margin-bottom: 4rem;
}
.section{
    margin-bottom: 6rem;
    margin-top: 6rem;
}
.n-teams a{
    display: inline-block;
    margin-top: 2rem;
    text-decoration: underline;
    color: blue;
}
.container-team{
    height: calc(100vw / 3);
}

.row-team>div{
    width: calc(100vw / 3 );

}
.row-team .card{
    text-align: center;
    height: calc(100vw / 6);
    line-height: calc(100vw / 6);
    padding: 2rem;
    width: calc(100% / 2);
    
}

.row-team .col-left, .row-team .col-right{
    flex-wrap: wrap;
    background-size: cover;
    
}
.col-left img, .col-right img{
    filter: invert(1);
}

.logo1{
    background-color: #a2d39b;
}
.logo2{
    background-color: #61082b;
}
.logo3{
    background-color: #0093ce;
}
.logo4{
    background-color: #ff1c1c;
}
.logo5{
    background-color: #d5001f;
}
.logo6{
    background-color: #b4d0e7;
}
.logo7{
    background-color: #0d2481;
}
.logo8{
    background-color: #ffd830;
}
.row-team .col-middle{
    background-color:#f5f5f5;
    padding: 2rem;
}
.col-middle img{
    width: 200px;
    margin-bottom: 2rem;
}
.col-middle p{
    margin: 2rem 0;
}
.col-middle hr{
    width: 20%;
}
.bottom-container-team{
    background-color: #b4d0e7;
}
.purple{
    color:#61082b;
}
.bottom-container-team a{
    background-color:white;
    color: black;
}
.bottom-container-team .container-small{
    padding: 3rem 0;
    justify-content: space-between;
    align-items: center;
}
.faq li{
    font-weight: 600;
    padding: 2rem 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.faq li::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    right:2rem;

}

/* FOOTER */
footer{
    background-color:black ;
    padding: 3rem 0;
    color: white;
    padding-bottom: 10rem;
}
footer h3{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
footer li{
    margin-bottom: 1rem;
}
.row-footer{
    gap: 1.5rem;
}
.row-footer .col{
    width:calc(100% / 5);
    padding-top: 1rem;
    
}
.language{
    position: relative;
    top: 6rem;
}