/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    /* DEBUG */
    background-color: grey;
}
img{
    max-width: 100%;

}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}

.flex{
    display: flex;
}
.container-big{
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
    /* DEBUG */
    /* height: 500px; */
    /* background-color: blueviolet; */
}
.container-small{
    width: 60%;
    margin: 0 auto;
    max-width: 1000px;
    /* DEBUG */
    /* height: 500px; */
    background-color: white;
}
h2{
    margin: 1.5rem 0;
}
.button{
    color: white;
    padding: 0.5em 1.5em;
    background-color:#0061ff;
}
.button.large{
    display: inline-block;
    margin: 2rem 0;
}
.arrow{
   margin-top: 8rem;
    
}
/* HEADER */
.header-nav{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0 1rem;
    line-height: 60px;
    justify-content: space-between;
    
    /* DEBUG */
    background-color:white ;

}
.nav-left li:not(:first-child){
    margin-left: 1.5rem;
}
.nav-right li:not(:last-child){
    margin-right: 2rem;
}
.nav-left ul{
    align-items: center;
}
.logo-header{
    transform:scale(0.8);
    vertical-align: middle;
}

.jumbotron{
    padding-top: 3rem;
    background-color: #b4d0e7;
   
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
    

header .container-big{
   padding-top: 50px;
  
    
}
.jumbotron-row{
    gap: 1rem;
    position: relative;
    top:3rem;
}
.col-small{
    width: 30%;
    text-align: left;
    /* DEBUG */
    /* background-color: rgb(119, 80, 80);
    height: 500px; */
}
.col-big{
    width:70%
    /* DEBUG */
    /* background-color: rgb(99, 28, 28);
    height: 500px; */
}

/* MAIN */
.one{
    margin-top: 5rem;
}
.section-row1{
    gap:1rem;
    margin: 2rem 0;
}
.section-row1 .col{
    width: calc(100% / 3);
    /* DEBUG */
    height: 500px;
    background-color: aqua;
}
.section-row2{
    /* debug */
    background-color: aqua;
    height: 150px;
}
.section-row3{
    gap: 2rem;
}

.section2-row1, .section2-row2{
    gap: 1.5rem;

}
.section2-row1 .col, .section2-row2 .col{
    width: calc(100% / 3);
    margin-bottom: 1.5rem;
    /* debug */
    height: 300px;
    background-color: aquamarine;
}
.row-team{
    /* debug */
    height: 70vh;
}

.row-team .col-left, .row-team .col-right{
    width: 30%;
    flex-wrap: wrap;
    /* debug */
    /* height: 400px; */
    background-color: blue;
    
   
}
.row-team .col-middle{
    width: 40%;
    /* debug */
    /* height: 400px; */
    background-color: red;
}
.row-team .card{
    text-align: center;
    height: 35vh;
    line-height: 35vh;
    padding: 2rem;
    width: calc(100% / 2);
    /* debug */
    border: 1px dashed black;
}

    

.bottom-container-team{
    background-color: #b4d0e7;
}
.bottom-container-team .container-small{
    padding: 3rem 0;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER */
footer{
    background-color:darkslategray ;
    padding: 3rem 0;
}
.row-footer{
    gap: 1.5rem;
}
.row-footer .col{
    width:calc(100% / 5);
    /* debug */
    height: 400px;
    border: 1px solid red;
}